.main__slider {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.main__figure {
    display: inline-flex;
    flex-flow: column wrap;
}

.main__img {
    width: 18rem;
    height: 18rem;
}

.main__text {
    flex-basis: 65%;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    line-height: 1rem;
    margin: 0.5rem 0;
}

.main__bio {
    padding: 1rem 1rem;
}

.main__price {
    padding: 1rem 1rem;
}

.main__picture {
    width: 100%;
}

.main__title {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 50%;
    color: #fff;
    background-color: #0070af;
    text-align: left;
    transform: translate(0, -50%);
    display: block;
    padding: 0.1rem 1rem 0.3rem;

}

.next {
    right: 4.7%;
}

.prev {
    left: 4.7%;
}

.prev:hover, .next:hover {
    background-color: #ffb747;
    color: #fc3825;
}

.slider__nav {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

.dot {
    cursor: pointer;
    width: 0.75rem;
    height: 0.75rem;
    margin: 0 0.1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    -moz-animation-name: fade;
    -o-animation-name: fade;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 4
    }
    to {
        opacity: 1
    }
}

@media (min-width: 768px) {
    .main__figure {
        display: flex;
        justify-content: space-between;
        flex-flow: nowrap;
    }

    .main__text {
        flex-basis: 65%;
        font-size: 1rem;
        font-family: 'Raleway', sans-serif;
        text-align: justify;
        line-height: 1.2rem;
        margin: 0 0.5rem;
    }
}

@media (min-width: 960px) {
    .main__bio {
        padding: 1rem 1rem;
    }

    .main__figure {
        display: flex;
        flex-flow: row;
    }
}

@media (min-width: 1024px) {
    .main__slider {
        min-height: 20rem;
    }

    .main__bio {
        padding: 1.5rem 3rem;
    }

    .main__price {
        padding: 1.5rem 3rem;
    }

    .main__img {
        width: 23rem;
        height: 23rem;
    }

    .main__picture {
        width: 100%;
        max-height: 30rem;
    }

    .main__text {
        flex-basis: 55%;
        font-size: 1.2rem;
        font-family: 'Raleway', sans-serif;
        text-align: justify;
        line-height: 1.5rem;
    }

    .main__title {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
}

@media (min-width: 1440px) {
    .main__bio {
        padding: 2.5rem 5rem;
    }

    .main__price {
        padding: 2.5rem 5rem;
    }

    .main__text {
        flex-basis: 65%;
        font-size: 1.5rem;
        font-family: 'Raleway', sans-serif;
        text-align: justify;
        line-height: 2rem;
    }

    .next {
        right: 5%;
    }

    .prev {
        left: 5%;
    }
}